fastapi
uvicorn
python-multipart
sqlalchemy

torch
opencv-python
mediapipe==0.10.14
numpy
joblib
scikit-learn
ultralytics

python-jose
passlib[bcrypt]
email-validator
bcrypt==4.0.1

requests

python-jose[cryptography]
opencv-python-headless
psycopg2-binary
